{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>Menu List | {{today}}</h1>
    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Publish Date Menu</th>
            <th scope="col">UUID</th>
            <th scope="col">NAME</th>
            <th scope="col">ACTIONS</th>
        </tr>
        </thead>
        {% for menu in menu_list %}
        <tbody>
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ menu.published_date}}</td>
            <td>{{ menu.uuid }}</td>
            <td>{{ menu.name }}</td>
            <td>
                <a href="{% url 'option:option_menu_add' menu.uuid %}" class="btn btn-sm btn-primary">
                    <span class="bold">ADD PLATE</span>
                </a>
                <a href="{% url 'menu:menu_delete' menu.uuid %}" class="btn btn-sm btn-danger">
                    <span class="bold">Delete</span>
                </a>
                <a href="{% url 'option:options_menu_details_by_uuid' menu.uuid %}" class="btn btn-sm btn-warning">
                    <span class="bold">Detail Menu</span>
                </a>
            </td>
        </tr>
        </tbody>

        {% empty %}
        <div class="">
            <h3 class="grey-text">There aren't menu for today!!!</h3>
        </div>
        {% endfor %}
    </table>

</div>
{% endblock %}
