{% extends 'base.html' %}
{% block content %}
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Menu uuid</th>
    <th scope="col">Description</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  {% for menu in menu_detail  %}
  <tr>
    <th scope="row">{{ forloop.counter }}</th>
    <td>{{ menu.uuid }}</td>
    <td>{{ menu.description }}</td>
    <td> <a href="{% url 'menu_details_uuid' menu.uuid %}" class="btn btn-primary">
      <span class="bold">Edit plate</span>
    </a></td>
  </tr>
  {% empty %}
  <h3>No plates register</h3>

  {% endfor %}
  </tbody>
  {% endblock %}
</table>
